@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header__top {
    background-color: #2D2D2D;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 4px;
    padding-bottom: 5px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 1820px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}
.header__logo-link img {
    width: 100%;
}
.header__menu {
    display: flex;
    list-style-type: none;
    gap: 60px;
}
.header__menu-link {
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    transition: .3s ease;
    cursor: pointer;

    &:hover {
        color: #C0C0C0;
    }
}
.header__contacts {
    display: flex;
    align-items: center;
    gap: 12px;
}
.header__social-buttons img {
    max-width: 40px;
}
.header__phone a {
    color: white;
    font-size: 32px;
    font-family: "Inter", sans-serif;
}
.header__logo img {
    max-width: 251px;
}
.header__img img {
    max-width: 850px;
    padding-right: 30px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.header__title--color {
    color: #FF6600;
}
.header__title h1 {
    font-size: 80px;
    font-weight: bold;
    max-width: 801px;
    line-height: 80px;
    font-family: "Montserrat", sans-serif;
}
.header__description p {
    font-size: 32px;
    line-height: auto;
    font-family: "Inter", sans-serif;
    max-width: 525px;
}
.header__description {
    display: flex;
    align-items: center;
}
.header__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header__button button {
    background-color: #FF6600;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    width: 100%;
    padding: 21.5px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background-color: #C0C0C0;
    }
}
header {
    background-color: #F6F6F6;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.header__card {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    color: #808080;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0 20px 0;
}
.header__cards {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.benefits__title h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.benefits__inner {
    margin-top: 120px;
}
.benefits__card {
    background-color: #F6F6F6;
    border-radius: 30px;
    display: flex;
    max-width: 880px;
    max-height: 352px;
    justify-content: space-between;
}
.benefits__card--title span {
    font-size: 32px;
    font-family: "Inter", sans-serif;
}
.benefits__card--title {
    display: flex;
    gap: 30px;
}
.benefits__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}
.benefits__card--description span {
    color: #808080;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.benefits__card__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    padding-left: 40px;
}
.benefits__card--description {
    max-width: 466px;
}
.benefits__card__img img {
    width: 100%;
}
.benefits__card__img {
    margin-top: auto;
}
.benefits__card--title--weight {
    max-width: 250px;
}
.services__inner h3 {
    color: #2D2D2D;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.services__inner {
    margin-top: 110px;
}
.services__cards {
    margin-top: 40px;
}
.services__title span {
    font-size: 36px;
    max-width: 556px;
    display: block;
    font-weight: bold;
    line-height: 42px;
    font-family: "Montserrat", sans-serif;
}
.services__title {
    display: flex;
    justify-content: space-between;
}
.services__price span {
    font-size: 24px;
    font-family: "Inter", sans-serif;
}
.services__price {
    margin-top: 20px;
}
.price {
    font-size: 36px !important;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, 
        #FF6600 0%, 
        #F26659 27%, 
        #F06177 37%, 
        #E55D97 48%, 
        #CA46D2 71%, 
        #8D13F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.services__btn button {
    background-color: #FF6600;
    color: white;
    text-transform: uppercase;
    padding: 21.5px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background-color: #C0C0C0;
    }
}
.services__btn {
    margin-top: 30px;
}
.services__card {
    background-color: #F6F6F6;
    border-radius: 40px;
    padding: 40px;
    width: 730px;
}
.services__cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.partners__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.partners--title-h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
}
.partners--title-h2 {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    color: #808080;
}
.partners__inner {
    margin-top: 120px;
}
.partners__cards {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.partners__card {
    background-color: #F6F6F6;
    border-radius: 30px;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.color-gray {
    color: grey;
}
.contacts__social button img {
    max-width: 64px;
}
.contacts__inner {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    background-color: #F6F6F6;
    border-radius: 60px;
}
.contacts__img img {
    width: 100%;
    border-radius: 60px;
}
.contacts__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 80px;
    font-size: 48px;
    font-weight: bold;
    color: #2D2D2D;
    font-family: "Montserrat", sans-serif;
}
.contacts__title__inherit {
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    max-width: 700px;
}
.contacts__main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contacts__name-gray {
    color: gray;
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.contacts__inherit {
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.contacts__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts__social span {
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: gray;
    max-width: 489px;
    display: block;
}
.contacts__social {
    display: flex;
}
.contacts__social button {
    border: none;
    cursor: pointer;
}
.footer__main {
    background-color: #2D2D2D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    margin-top: 120px;
}
.copyright {
    font-size: 32px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.company {
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}
.nav__footer ul li a {
    font-size: 20px;
    color: gray;
    font-weight: 400;
}
.nav__footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5px;
}
.nav__footer {
    margin-top: 40px;
}